html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  /* z-index: -1; it affected the input numper */
  margin-top: 20px;
  align-items: center;
  border: 1px solid grey;
  background-color: #03045e;
  border-radius: 10px;
  justify-content: space-between;
  width: 50%;
}
#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}
.product-image img {
  width: 200px;
}
.quantity {
  display: flex;
}
.number {
  width: 30px;
  font-size: 30px;
  color: #f5f5f5;
  text-align: center;
}
.product-price,
.product-name {
  color: #f5f5f5;
  font-size: 2rem;
  margin-right: 10px;
  margin-left: 10px;
}
.delete {
  margin-right: 40px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  position: fixed;
  bottom: 0;
}
.your-cart-txt {
  padding-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #023e8a;
  width: 100%;
}
#total {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 3rem;
  color: #023e8a;
}
#methods-txt {
  font-size: 2.5rem;
  color: #023e8a;
  margin-bottom: 40px;
}
#payments {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
#credit {
  display: flex;
  flex-direction: column;
  width: 450px;
  border: 1px solid #023e8a;
  height: 200px;
  margin-right: 40px;
}
#paypal {
  width: 450px;
  border: 1px solid #023e8a;
  height: 200px;
}


.inputs {
  margin-top: 20px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}
input:focus {
  outline: none;
}
.inputs input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
}

#expire-cvv {
  display: flex;
}
.inputs ion-icon {
  font-size: 35px;
}
@media screen and (max-width: 1500px) {
  .product-container {
    width: 64%;
  }
}
@media (max-width: 1300px) {
  .product-image img {
    width: 100px;
  }
  .product-name {
    color: #f5f5f5;
    font-size: 1.3rem;
    margin-right: 10px;
    margin-left: 10px;
  }
  .product-price,
  .product-name {
    color: #f5f5f5;
    font-size: 2rem;
    margin-right: 10px px;
    margin-left: 10px;
  }
  #quantity {
    width: 30px;
  }
  .product-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    border: 1px solid grey;
    background-color: #03045e;
    border-radius: 10px;
    justify-content: space-between;
    width: 70%;
  }
}
